* Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Evaluating Test Dataset

In [2]:
pd.set_option('display.max_rows', None)
census_eval = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Census_Income/Testing_set_census.csv')

In [3]:
census_eval.drop(labels = ['migration_msa','migration_reg','migration_within_reg','migration_sunbelt'], inplace = True, axis = 1)

In [4]:
cat_col = ['class_of_worker','industry_code','occupation_code','education','enrolled_in_edu_inst_lastwk','marital_status','major_industry_code',
           'major_occupation_code','race','hispanic_origin','sex','member_of_labor_union','reason_for_unemployment',
          'full_parttime_employment_stat','tax_filer_status','region_of_previous_residence','state_of_previous_residence',
          'd_household_family_stat','d_household_summary','live_1_year_ago','num_person_Worked_employer','family_members_under_18','country_father',
           'country_mother','country_self','citizenship','business_or_self_employed','veterans_benefits','weeks_worked_in_year','fill_questionnaire_veteran_admin','year','income_level']

In [5]:
census_eval['country_mother'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_eval['country_mother'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_eval['country_mother'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [6]:
census_eval['country_father'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_eval['country_father'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_eval['country_father'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [7]:
census_eval['state_of_previous_residence'].replace(to_replace = np.nan, value = 'Not in universe', inplace = True)
census_eval['state_of_previous_residence'].replace(to_replace = "?", value = 'Not in universe', inplace = True)
census_eval['state_of_previous_residence'].replace(to_replace = str("?"), value = 'Not in universe', inplace = True)
census_eval['state_of_previous_residence'].replace(to_replace = str(" ?"), value = 'Not in universe', inplace = True)
census_eval['state_of_previous_residence'].replace(to_replace = " ?", value = 'Not in universe', inplace = True)

In [8]:
census_eval['hispanic_origin'].replace(to_replace = np.nan, value = 'All other', inplace = True)
census_eval['hispanic_origin'].replace(to_replace = "NA", value = 'All other', inplace = True)
census_eval['hispanic_origin'].replace(to_replace = " NA", value = 'All other', inplace = True)
census_eval['hispanic_origin'].replace(to_replace = " ?", value = 'All other', inplace = True)
census_eval['hispanic_origin'].replace(to_replace = "?", value = 'All other', inplace = True)

In [9]:
census_eval['country_self'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_eval['country_self'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_eval['country_self'].replace(to_replace = str("?"), value = 'United-States', inplace = True)
census_eval['country_self'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [10]:
#census_eval['d_household_family_stat'].replace(to_replace = "Grandchild <18 ever marr not in subfamily",                                                value = 'Householder', inplace = True)
#census_eval['d_household_family_stat'].replace(to_replace = "nan", value = 'Householder', inplace = True)

In [11]:
census_eval['state_of_previous_residence'].value_counts()

Not in universe          30805
 Not in universe         15556
California                 284
Utah                       155
 California                150
North Carolina             135
Florida                    126
Oklahoma                   103
Abroad                     102
Indiana                     87
North Dakota                85
 Utah                       83
Minnesota                   81
 Florida                    74
New Mexico                  73
Michigan                    72
 Indiana                    64
 North Carolina             63
 Minnesota                  58
 Abroad                     45
 North Dakota               42
West Virginia               42
Colorado                    41
Arizona                     41
 Oklahoma                   39
Wyoming                     39
 New Mexico                 38
Montana                     37
Alabama                     37
Alaska                      37
Louisiana                   36
Tennessee                   36
Oregon                      36
Pennsylvania                35
Kansas                      33
Kentucky                    33
Nebraska                    33
Mississippi                 33
Nevada                      32
Arkansas                    32
 Michigan                   32
New Hampshire               31
Massachusetts               31
Georgia                     31
Texas                       31
Missouri                    30
Ohio                        30
South Dakota                29
Illinois                    29
Vermont                     29
Maryland                    27
Maine                       27
Virginia                    26
Iowa                        24
 Georgia                    22
New York                    22
 Ohio                       21
 Montana                    21
 Kentucky                   20
 Wyoming                    20
 Arizona                    19
 Vermont                    19
Wisconsin                   19
 New York                   19
 Alabama                    19
 Massachusetts              18
 Texas                      18
 Louisiana                  18
 West Virginia              18
 Alaska                     17
 Oregon                     17
South Carolina              16
 Nevada                     16
Connecticut                 16
 New Hampshire              16
 Kansas                     16
 Colorado                   16
District of Columbia        16
 Iowa                       14
 Maryland                   14
New Jersey                  14
 Maine                      14
 Nebraska                   14
Delaware                    13
 Illinois                   13
 South Dakota               13
 Arkansas                   13
 Missouri                   11
 Pennsylvania               10
 District of Columbia       10
 Mississippi                10
 Tennessee                   9
 Virginia                    9
 Delaware                    9
 South Carolina              8
 Connecticut                 7
 Wisconsin                   5
Idaho                        4
 New Jersey                  4
 Idaho                       3
Name: state_of_previous_residence, dtype: int64

In [12]:
for j in cat_col[:-1]:
  if census_eval[j].dtype != "int64":
    print(j)
    census_eval[j] = census_eval[j].apply(lambda x:x.strip())

class_of_worker
education
enrolled_in_edu_inst_lastwk
marital_status
major_industry_code
major_occupation_code
race
hispanic_origin
sex
member_of_labor_union
reason_for_unemployment
full_parttime_employment_stat
tax_filer_status
region_of_previous_residence
state_of_previous_residence
d_household_family_stat
d_household_summary
live_1_year_ago
family_members_under_18
country_father
country_mother
country_self
citizenship
fill_questionnaire_veteran_admin

In [13]:
for j in cat_col[:-1]:
    print(census_eval[j].value_counts())

Not in universe                   24793
Private                           18287
Self-employed-not incorporated     2119
Local government                   1932
State government                   1060
Self-employed-incorporated          877
Federal government                  777
Never worked                        103
Without pay                          52
Name: class_of_worker, dtype: int64
0     24896
33     4387
43     2104
4      1512
42     1161
29     1116
45     1099
37     1088
41      972
32      908
35      802
39      743
34      685
44      655
2       586
11      455
38      436
40      426
47      426
50      398
24      377
12      355
19      343
30      309
31      299
25      291
9       264
22      257
36      242
13      240
1       180
48      161
27      158
49      150
3       149
23      142
16      136
5       133
18      132
8       131
21      121
15      119
6       113
7       108
14       76
46       48
17       34
26       32
28       24
20       14
51        5
10        2
Name: industry_code, dtype: int64
0     24896
2      2345
26     1860
19     1460
29     1245
36     1079
34     1010
10      955
33      886
16      885
12      880
23      850
35      837
3       798
38      765
31      671
32      578
37      573
8       518
42      475
30      455
24      436
17      432
28      413
44      390
41      379
43      376
4       351
13      317
18      283
39      277
14      224
5       218
15      211
25      210
9       202
27      201
7       195
11      178
21      145
40      140
1       122
22      113
6       107
45       33
20       21
46        5
Name: occupation_code, dtype: int64
High school graduate                      12166
Children                                  11554
Some college but no degree                 6954
Bachelors degree(BA AB BS)                 5187
7th and 8th grade                          1986
10th grade                                 1918
Masters degree(MA MS MEng MEd MSW MBA)     1710
11th grade                                 1672
9th grade                                  1602
Associates degree-occup /vocational        1307
Associates degree-academic program         1064
5th or 6th grade                            844
12th grade no diploma                       523
Prof school degree (MD DDS DVM LLB JD)      500
1st 2nd 3rd or 4th grade                    446
Doctorate degree(PhD EdD)                   351
Less than 1st grade                         216
Name: education, dtype: int64
Not in universe          46910
High school               1686
College or university     1404
Name: enrolled_in_edu_inst_lastwk, dtype: int64
Married-civilian spouse present    21393
Never married                      21308
Divorced                            3231
Widowed                             2672
Separated                            850
Married-spouse absent                380
Married-A F spouse present           166
Name: marital_status, dtype: int64
Not in universe or children            24896
Retail trade                            4387
Manufacturing-durable goods             2298
Education                               2104
Manufacturing-nondurable goods          1759
Business and repair services            1524
Construction                            1512
Finance insurance and real estate       1487
Medical except hospital                 1161
Public administration                   1135
Transportation                          1116
Other professional services             1099
Hospital services                        972
Wholesale trade                          908
Agriculture                              766
Personal services except private HH      743
Social services                          655
Entertainment                            426
Communications                           309
Utilities and sanitary services          299
Private household services               242
Mining                                   149
Forestry and fisheries                    48
Armed Forces                               5
Name: major_industry_code, dtype: int64
Not in universe                          24896
Adm support including clerical            3614
Professional specialty                    3604
Executive admin and managerial            3265
Sales                                     3081
Other service                             2949
Precision production craft & repair       2733
Machine operators assmblrs & inspctrs     1652
Transportation and material moving        1042
Handlers equip cleaners etc                994
Farming forestry and fishing               799
Technicians and related support            752
Protective services                        413
Private household services                 201
Armed Forces                                 5
Name: major_occupation_code, dtype: int64
White                          42059
Black                           5061
Asian or Pacific Islander       1443
Other                            900
Amer Indian Aleut or Eskimo      537
Name: race, dtype: int64
All other                    43323
Mexican-American              2005
Mexican (Mexicano)            1810
Central or South American      930
Puerto Rican                   830
Other Spanish                  630
Cuban                          315
Do not know                     79
Chicano                         78
Name: hispanic_origin, dtype: int64
Female    25906
Male      24094
Name: sex, dtype: int64
Not in universe    45106
No                  4092
Yes                  802
Name: member_of_labor_union, dtype: int64
Not in universe          48453
Other job loser            542
Re-entrant                 521
Job loser - on layoff      230
Job leaver                 151
New entrant                103
Name: reason_for_unemployment, dtype: int64
Children or Armed Forces              30677
Full-time schedules                   10474
Not in labor force                     6761
PT for non-econ reasons usually FT      832
Unemployed full-time                    585
PT for econ reasons usually PT          309
Unemployed part- time                   216
PT for econ reasons usually FT          146
Name: full_parttime_employment_stat, dtype: int64
Nonfiler                        18496
Joint both under 65             17100
Single                           9444
Joint both 65+                   2137
Head of household                1842
Joint one under 65 & one 65+      981
Name: tax_filer_status, dtype: int64
Not in universe    46184
South               1177
West                 977
Midwest              876
Northeast            674
Abroad               112
Name: region_of_previous_residence, dtype: int64
Not in universe         46361
California                434
Utah                      238
Florida                   200
North Carolina            198
Indiana                   151
Abroad                    147
Oklahoma                  142
Minnesota                 139
North Dakota              127
New Mexico                111
Michigan                  104
West Virginia              60
Arizona                    60
Wyoming                    59
Montana                    58
Colorado                   57
Alabama                    56
Alaska                     54
Louisiana                  54
Kentucky                   53
Georgia                    53
Oregon                     53
Ohio                       51
Texas                      49
Kansas                     49
Massachusetts              49
Nevada                     48
Vermont                    48
New Hampshire              47
Nebraska                   47
Arkansas                   45
Tennessee                  45
Pennsylvania               45
Mississippi                43
South Dakota               42
Illinois                   42
Missouri                   41
Maryland                   41
New York                   41
Maine                      41
Iowa                       38
Virginia                   35
District of Columbia       26
Wisconsin                  24
South Carolina             24
Connecticut                23
Delaware                   22
New Jersey                 18
Idaho                       7
Name: state_of_previous_residence, dtype: int64
Householder                                        13555
Child <18 never marr not in subfamily              12304
Spouse of householder                              10438
Nonfamily householder                               5625
Child 18+ never marr Not in a subfamily             2964
Secondary individual                                1622
Other Rel 18+ ever marr not in subfamily             503
Grandchild <18 never marr child of subfamily RP      473
Other Rel 18+ never marr not in subfamily            416
Grandchild <18 never marr not in subfamily           261
Child 18+ ever marr Not in a subfamily               250
Other Rel 18+ spouse of subfamily RP                 177
RP of unrelated subfamily                            175
Child under 18 of RP of unrel subfamily              172
Child 18+ never marr RP of subfamily                 169
Child 18+ ever marr RP of subfamily                  169
Other Rel <18 never marr child of subfamily RP       164
Other Rel 18+ ever marr RP of subfamily              156
Other Rel <18 never marr not in subfamily            140
Grandchild 18+ never marr not in subfamily            85
In group quarters                                     48
Child 18+ spouse of subfamily RP                      34
Other Rel 18+ never marr RP of subfamily              31
Child <18 never marr RP of subfamily                  20
Spouse of RP of unrelated subfamily                   14
Child <18 ever marr not in subfamily                  11
Grandchild 18+ ever marr not in subfamily             11
Other Rel <18 ever marr RP of subfamily                2
Grandchild 18+ spouse of subfamily RP                  2
Other Rel <18 never married RP of subfamily            2
Grandchild 18+ ever marr RP of subfamily               2
Child <18 ever marr RP of subfamily                    2
Grandchild 18+ never marr RP of subfamily              1
Grandchild <18 ever marr not in subfamily              1
Child <18 spouse of subfamily RP                       1
Name: d_household_family_stat, dtype: int64
Householder                             19185
Child under 18 never married            12327
Spouse of householder                   10441
Child 18 or older                        3586
Other relative of householder            2430
Nonrelative of householder               1984
Group Quarters- Secondary individual       33
Child under 18 ever married                14
Name: d_household_summary, dtype: int64
Not in universe under 1 year old    25569
Yes                                 20615
No                                   3816
Name: live_1_year_ago, dtype: int64
0    23695
6     9378
1     5730
4     3684
3     3457
2     2513
5     1543
Name: num_person_Worked_employer, dtype: int64
Not in universe           36471
Both parents present       9508
Mother only present        3139
Father only present         480
Neither parent present      402
Name: family_members_under_18, dtype: int64
United-States                   41636
Mexico                           2500
Puerto-Rico                       669
Italy                             568
Dominican-Republic                347
Canada                            339
Germany                           335
Poland                            305
Philippines                       288
Cuba                              285
El-Salvador                       248
China                             214
England                           194
India                             151
Columbia                          144
South Korea                       130
Ireland                           130
Vietnam                           105
Jamaica                           103
Guatemala                         101
Japan                              99
Ecuador                            89
Greece                             86
Portugal                           85
Nicaragua                          84
Haiti                              76
Peru                               76
Hungary                            75
Yugoslavia                         64
Iran                               63
Scotland                           57
Cambodia                           55
Honduras                           48
Outlying-U S (Guam USVI etc)       45
Taiwan                             43
France                             36
Laos                               35
Thailand                           35
Trinadad&Tobago                    19
Hong Kong                          18
Holand-Netherlands                 13
Panama                              7
Name: country_father, dtype: int64
United-States                   41729
Mexico                           2464
Puerto-Rico                       620
Italy                             453
Canada                            365
Germany                           357
Philippines                       304
Cuba                              303
El-Salvador                       287
Poland                            284
Dominican-Republic                281
England                           213
China                             195
Ireland                           157
India                             150
South Korea                       149
Columbia                          139
Japan                             132
Vietnam                           113
Guatemala                         102
Jamaica                            99
Ecuador                            90
Nicaragua                          89
Peru                               83
Haiti                              80
Portugal                           75
Hungary                            73
Greece                             69
Scotland                           62
Honduras                           58
France                             54
Iran                               54
Yugoslavia                         50
Taiwan                             50
Cambodia                           47
Outlying-U S (Guam USVI etc)       39
Thailand                           38
Laos                               33
Trinadad&Tobago                    18
Holand-Netherlands                 16
Hong Kong                          14
Panama                             12
Name: country_mother, dtype: int64
United-States                   45207
Mexico                           1457
Puerto-Rico                       340
Cuba                              223
Germany                           216
Philippines                       216
Dominican-Republic                183
El-Salvador                       178
Canada                            170
China                             130
England                           117
South Korea                       116
India                             107
Italy                             101
Columbia                           97
Poland                             96
Vietnam                            89
Japan                              84
Guatemala                          80
Jamaica                            69
Nicaragua                          65
Peru                               64
Ecuador                            62
Haiti                              47
Taiwan                             42
Portugal                           42
Iran                               41
Ireland                            37
Greece                             36
Honduras                           35
Thailand                           33
Cambodia                           30
Laos                               30
France                             30
Outlying-U S (Guam USVI etc)       28
Scotland                           20
Hungary                            19
Hong Kong                          18
Yugoslavia                         17
Trinadad&Tobago                    17
Panama                              6
Holand-Netherlands                  5
Name: country_self, dtype: int64
Native- Born in the United States              44391
Foreign born- Not a citizen of U S              3292
Foreign born- U S citizen by naturalization     1492
Native- Born abroad of American Parent(s)        457
Native- Born in Puerto Rico or U S Outlying      368
Name: citizenship, dtype: int64

0    45163
2     4150
1      687
Name: business_or_self_employed, dtype: int64
2    37952
0    11549
1      499
Name: veterans_benefits, dtype: int64
0     23695
52    18011
40      715
26      583
50      521
12      468
48      442
20      341
30      335
36      289
8       267
16      252
44      234
32      224
51      214
4       187
10      185
45      178
24      174
35      172
46      171
6       169
28      147
39      135
42      134
49      132
1       126
13      120
2       112
25      105
43      100
22       98
3        97
15       92
38       77
17       76
47       67
5        67
9        60
34       60
14       59
18       52
11       39
7        35
37       33
21       31
33       25
41       18
29       17
27       16
23       15
19       15
31       13
Name: weeks_worked_in_year, dtype: int64
Not in universe    49501
No                   397
Yes                  102
Name: fill_questionnaire_veteran_admin, dtype: int64
95    25220
94    24780
Name: year, dtype: int64

In [14]:
census_eval.isnull().sum()

age                                 0
class_of_worker                     0
industry_code                       0
occupation_code                     0
education                           0
wage_per_hour                       0
enrolled_in_edu_inst_lastwk         0
marital_status                      0
major_industry_code                 0
major_occupation_code               0
race                                0
hispanic_origin                     0
sex                                 0
member_of_labor_union               0
reason_for_unemployment             0
full_parttime_employment_stat       0
capital_gains                       0
capital_losses                      0
dividend_from_Stocks                0
tax_filer_status                    0
region_of_previous_residence        0
state_of_previous_residence         0
d_household_family_stat             0
d_household_summary                 0
live_1_year_ago                     0
num_person_Worked_employer          0
family_members_under_18             0
country_father                      0
country_mother                      0
country_self                        0
citizenship                         0
business_or_self_employed           0
fill_questionnaire_veteran_admin    0
veterans_benefits                   0
weeks_worked_in_year                0
year                                0
dtype: int64

In [15]:
census_eval.shape

(50000, 36)

In [16]:
census_eval['d_household_family_stat'].nunique()

35

# Training the Census Dataset

In [17]:
pd.set_option('display.max_columns', None)
census_data = pd.read_csv(
    "https://raw.githubusercontent.com/dphi-official/Datasets/master/Census_Income/Training_set_census.csv" )

In [18]:
census_data.drop(labels = ['migration_msa','migration_reg','migration_within_reg','migration_sunbelt'], axis = 1, inplace = True)

In [19]:
census_data.isnull().sum()

age                                    0
class_of_worker                        0
industry_code                          0
occupation_code                        0
education                              0
wage_per_hour                          0
enrolled_in_edu_inst_lastwk            0
marital_status                         0
major_industry_code                    0
major_occupation_code                  0
race                                   0
hispanic_origin                      592
sex                                    0
member_of_labor_union                  0
reason_for_unemployment                0
full_parttime_employment_stat          0
capital_gains                          0
capital_losses                         0
dividend_from_Stocks                   0
tax_filer_status                       0
region_of_previous_residence           0
state_of_previous_residence          477
d_household_family_stat                0
d_household_summary                    0
live_1_year_ago                        0
num_person_Worked_employer             0
family_members_under_18                0
country_father                      4522
country_mother                      4136
country_self                        2312
citizenship                            0
business_or_self_employed              0
fill_questionnaire_veteran_admin       0
veterans_benefits                      0
weeks_worked_in_year                   0
year                                   0
income_level                           0
dtype: int64

In [20]:
census_data['state_of_previous_residence'].value_counts()

Not in universe          123002
 Not in universe          61297
California                 1123
Utah                        724
 California                 609
Florida                     562
North Carolina              555
Abroad                      431
Oklahoma                    409
Minnesota                   387
Indiana                     364
 Utah                       356
North Dakota                340
New Mexico                  318
 Florida                    299
Michigan                    288
 North Carolina             279
 ?                          215
Alaska                      210
 Oklahoma                   201
 Minnesota                  185
 Indiana                    184
New Hampshire               180
 Abroad                     175
Kentucky                    175
Oregon                      160
Colorado                    160
Arizona                     159
Wyoming                     156
Montana                     153
Georgia                     151
West Virginia               150
 New Mexico                 148
 North Dakota               148
New York                    147
Alabama                     146
Texas                       143
Ohio                        139
Arkansas                    139
Vermont                     138
 Michigan                   137
Tennessee                   129
Mississippi                 128
Iowa                        128
Pennsylvania                125
Louisiana                   122
Illinois                    121
Maine                       119
Missouri                    116
Nevada                      116
Nebraska                    113
 Arizona                     98
Massachusetts                98
South Dakota                 93
Kansas                       93
 Alaska                      89
Virginia                     86
Maryland                     84
District of Columbia         82
 Kentucky                    81
 Louisiana                   80
 Colorado                    78
 New Hampshire               78
 Pennsylvania                76
 Nebraska                    74
 Georgia                     74
 Alabama                     73
 Arkansas                    73
 New York                    72
Connecticut                  72
 Tennessee                   71
 West Virginia               71
 Oregon                      69
 Vermont                     67
 Montana                     67
Wisconsin                    65
 Wyoming                     64
 Ohio                        63
South Carolina               58
 Texas                       54
 Nevada                      53
 Illinois                    53
 Mississippi                 53
New Jersey                   52
 Maryland                    51
 South Dakota                51
 Connecticut                 48
 Missouri                    47
 Kansas                      46
 Massachusetts               45
 Maine                       43
Delaware                     42
 Wisconsin                   42
 District of Columbia        42
 Iowa                        40
 Virginia                    38
 South Carolina              32
 Delaware                    28
Idaho                        24
 New Jersey                  23
 Idaho                        8
Name: state_of_previous_residence, dtype: int64

In [21]:
census_data['country_mother'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_data['country_mother'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_data['country_mother'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [22]:
census_data['country_father'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_data['country_father'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_data['country_father'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [23]:
census_data['state_of_previous_residence'].replace(to_replace = np.nan, value = 'Not in universe', inplace = True)
census_data['state_of_previous_residence'].replace(to_replace = "?", value = 'Not in universe', inplace = True)
census_data['state_of_previous_residence'].replace(to_replace = str("?"), value = 'Not in universe', inplace = True)
census_data['state_of_previous_residence'].replace(to_replace = str(" ?"), value = 'Not in universe', inplace = True)
census_data['state_of_previous_residence'].replace(to_replace = " ?", value = 'Not in universe', inplace = True)

In [24]:
census_data['hispanic_origin'].replace(to_replace = np.nan, value = 'All other', inplace = True)
census_data['hispanic_origin'].replace(to_replace = "NA", value = 'All other', inplace = True)
census_data['hispanic_origin'].replace(to_replace = " NA", value = 'All other', inplace = True)
census_data['hispanic_origin'].replace(to_replace = " ?", value = 'All other', inplace = True)
census_data['hispanic_origin'].replace(to_replace = "?", value = 'All other', inplace = True)

In [25]:
census_data['country_self'].replace(to_replace = np.nan, value = 'United-States', inplace = True)
census_data['country_self'].replace(to_replace = "?", value = 'United-States', inplace = True)
census_data['country_self'].replace(to_replace = str("?"), value = 'United-States', inplace = True)
census_data['country_self'].replace(to_replace = " ?", value = 'United-States', inplace = True)

In [26]:
census_data['d_household_family_stat'].replace(to_replace = "Child <18 spouse of subfamily RP", value = "Householder", inplace = True)
census_data['d_household_family_stat'].replace(to_replace = "Grandchild 18+ never marr RP of subfamily", value = "Householder", inplace = True)

In [27]:
for j in cat_col[:-1]:
  if census_data[j].dtype != "int64":
    print(j)
    census_data[j] = census_data[j].apply(lambda x:x.strip())

class_of_worker
education
enrolled_in_edu_inst_lastwk
marital_status
major_industry_code
major_occupation_code
race
hispanic_origin
sex
member_of_labor_union
reason_for_unemployment
full_parttime_employment_stat
tax_filer_status
region_of_previous_residence
state_of_previous_residence
d_household_family_stat
d_household_summary
live_1_year_ago
family_members_under_18
country_father
country_mother
country_self
citizenship
fill_questionnaire_veteran_admin

In [28]:
census_data['d_household_family_stat'].replace(to_replace = "Child <18 spouse of subfamily RP", value = "Householder", inplace = True)
census_data['d_household_family_stat'].replace(to_replace = "Grandchild 18+ never marr RP of subfamily", value = "Householder", inplace = True)

In [29]:
for j in cat_col[:-1]:
    print(census_data[j].value_counts())

Not in universe                   99144
Private                           72923
Self-employed-not incorporated     8694
Local government                   7878
State government                   4360
Self-employed-incorporated         3492
Federal government                 2942
Never worked                        426
Without pay                         141
Name: class_of_worker, dtype: int64
0     99570
33    17069
43     8478
4      6091
42     4792
45     4657
29     4294
37     4162
41     3973
32     3707
35     3526
39     2905
34     2844
44     2477
2      2153
11     1843
50     1809
47     1671
38     1644
40     1644
24     1538
12     1390
19     1372
30     1227
31     1203
25     1094
9       999
36      964
13      955
22      941
1       832
48      629
27      624
3       614
49      608
21      586
5       568
8       559
16      549
6       544
23      533
15      464
18      448
7       442
14      299
46      203
17      158
28      141
26      133
51       38
20       33
10        3
Name: industry_code, dtype: int64
0     99570
2      9246
26     7755
19     5337
29     5107
36     4115
34     4010
10     3698
16     3531
12     3445
33     3388
3      3357
23     3314
35     3202
38     3047
31     2692
32     2398
8      2233
37     2194
42     1914
17     1904
30     1893
24     1845
28     1685
41     1605
44     1554
4      1502
43     1369
13     1265
18     1177
39      975
5       953
14      930
15      858
7       853
27      815
9       787
25      782
11      693
40      671
1       599
21      557
6       470
22      417
45      187
20       63
46       38
Name: occupation_code, dtype: int64
High school graduate                      48114
Children                                  46693
Some college but no degree                28046
Bachelors degree(BA AB BS)                20467
7th and 8th grade                          7986
10th grade                                 7440
Masters degree(MA MS MEng MEd MSW MBA)     7003
11th grade                                 6923
9th grade                                  6151
Associates degree-occup /vocational        5441
Associates degree-academic program         4379
5th or 6th grade                           3259
12th grade no diploma                      2146
Prof school degree (MD DDS DVM LLB JD)     1959
1st 2nd 3rd or 4th grade                   1785
Doctorate degree(PhD EdD)                  1385
Less than 1st grade                         823
Name: education, dtype: int64
Not in universe          187457
High school                6890
College or university      5653
Name: enrolled_in_edu_inst_lastwk, dtype: int64
Never married                      85582
Married-civilian spouse present    85440
Divorced                           12908
Widowed                            10448
Separated                           3464
Married-spouse absent               1493
Married-A F spouse present           665
Name: marital_status, dtype: int64
Not in universe or children            99570
Retail trade                           17069
Manufacturing-durable goods             9221
Education                               8478
Manufacturing-nondurable goods          6995
Finance insurance and real estate       6370
Construction                            6091
Business and repair services            5806
Medical except hospital                 4792
Public administration                   4717
Other professional services             4657
Transportation                          4294
Hospital services                       3973
Wholesale trade                         3707
Agriculture                             2985
Personal services except private HH     2905
Social services                         2477
Entertainment                           1644
Communications                          1227
Utilities and sanitary services         1203
Private household services               964
Mining                                   614
Forestry and fisheries                   203
Armed Forces                              38
Name: major_industry_code, dtype: int64
Not in universe                          99570
Adm support including clerical           14670
Professional specialty                   14634
Executive admin and managerial           13202
Other service                            12090
Sales                                    12012
Precision production craft & repair      10600
Machine operators assmblrs & inspctrs     6309
Handlers equip cleaners etc               4190
Transportation and material moving        4022
Farming forestry and fishing              3110
Technicians and related support           3053
Protective services                       1685
Private household services                 815
Armed Forces                                38
Name: major_occupation_code, dtype: int64
White                          167912
Black                           20216
Asian or Pacific Islander        5888
Other                            3704
Amer Indian Aleut or Eskimo      2280
Name: race, dtype: int64
All other                    173400
Mexican-American               8057
Mexican (Mexicano)             7157
Central or South American      3916
Puerto Rican                   3220
Other Spanish                  2511
Cuban                          1140
Chicano                         304
Do not know                     295
Name: hispanic_origin, dtype: int64
Female    103208
Male       96792
Name: sex, dtype: int64
Not in universe    180812
No                  16191
Yes                  2997
Name: member_of_labor_union, dtype: int64
Not in universe          193894
Other job loser            2113
Re-entrant                 1995
Job loser - on layoff       989
Job leaver                  583
New entrant                 426
Name: reason_for_unemployment, dtype: int64
Children or Armed Forces              123597
Full-time schedules                    41530
Not in labor force                     26513
PT for non-econ reasons usually FT      3436
Unemployed full-time                    2362
PT for econ reasons usually PT          1228
Unemployed part- time                    824
PT for econ reasons usually FT           510
Name: full_parttime_employment_stat, dtype: int64
Nonfiler                        74069
Joint both under 65             68686
Single                          37563
Joint both 65+                   8267
Head of household                7520
Joint one under 65 & one 65+     3895
Name: tax_filer_status, dtype: int64
Not in universe    184299
South                4896
West                 4155
Midwest              3485
Northeast            2691
Abroad                474
Name: region_of_previous_residence, dtype: int64
Not in universe         184991
California                1732
Utah                      1080
Florida                    861
North Carolina             834
Oklahoma                   610
Abroad                     606
Minnesota                  572
Indiana                    548
North Dakota               488
New Mexico                 466
Michigan                   425
Alaska                     299
New Hampshire              258
Arizona                    257
Kentucky                   256
Colorado                   238
Oregon                     229
Georgia                    225
West Virginia              221
Montana                    220
Wyoming                    220
New York                   219
Alabama                    219
Arkansas                   212
Vermont                    205
Louisiana                  202
Ohio                       202
Pennsylvania               201
Tennessee                  200
Texas                      197
Nebraska                   187
Mississippi                181
Illinois                   174
Nevada                     169
Iowa                       168
Missouri                   163
Maine                      162
South Dakota               144
Massachusetts              143
Kansas                     139
Maryland                   135
District of Columbia       124
Virginia                   124
Connecticut                120
Wisconsin                  107
South Carolina              90
New Jersey                  75
Delaware                    70
Idaho                       32
Name: state_of_previous_residence, dtype: int64

Householder                                        54582
Child <18 never marr not in subfamily              49592
Spouse of householder                              41574
Nonfamily householder                              22393
Child 18+ never marr Not in a subfamily            12052
Secondary individual                                6129
Other Rel 18+ ever marr not in subfamily            1957
Grandchild <18 never marr child of subfamily RP     1773
Other Rel 18+ never marr not in subfamily           1691
Grandchild <18 never marr not in subfamily          1024
Child 18+ ever marr Not in a subfamily               994
Child under 18 of RP of unrel subfamily              726
Child 18+ ever marr RP of subfamily                  684
RP of unrelated subfamily                            676
Other Rel 18+ spouse of subfamily RP                 648
Other Rel <18 never marr child of subfamily RP       639
Other Rel 18+ ever marr RP of subfamily              624
Other Rel <18 never marr not in subfamily            606
Child 18+ never marr RP of subfamily                 572
Grandchild 18+ never marr not in subfamily           385
In group quarters                                    186
Child 18+ spouse of subfamily RP                     141
Other Rel 18+ never marr RP of subfamily             102
Child <18 never marr RP of subfamily                  81
Spouse of RP of unrelated subfamily                   50
Grandchild 18+ ever marr not in subfamily             32
Child <18 ever marr not in subfamily                  30
Grandchild 18+ spouse of subfamily RP                 12
Child <18 ever marr RP of subfamily                   12
Grandchild 18+ ever marr RP of subfamily              12
Other Rel <18 ever marr RP of subfamily                7
Other Rel <18 spouse of subfamily RP                   5
Grandchild <18 never marr RP of subfamily              3
Other Rel <18 never married RP of subfamily            3
Other Rel <18 ever marr not in subfamily               3
Name: d_household_family_stat, dtype: int64
Householder                             76986
Child under 18 never married            49697
Spouse of householder                   41585
Child 18 or older                       14444
Other relative of householder            9531
Nonrelative of householder               7590
Group Quarters- Secondary individual      123
Child under 18 ever married                44
Name: d_household_summary, dtype: int64
Not in universe under 1 year old    101465
Yes                                  82834
No                                   15701
Name: live_1_year_ago, dtype: int64
0    94816
6    37372
1    23567
4    14397
3    13610
2    10217
5     6021
Name: num_person_Worked_employer, dtype: int64
Not in universe           145583
Both parents present       38418
Mother only present        12551
Father only present         1815
Neither parent present      1633
Name: family_members_under_18, dtype: int64
United-States                   166260
Mexico                            9924
Puerto-Rico                       2623
Italy                             2217
Canada                            1362
Germany                           1360
Dominican-Republic                1297
Poland                            1236
Philippines                       1188
Cuba                              1132
El-Salvador                        981
China                              837
England                            801
Columbia                           601
India                              594
Ireland                            548
South Korea                        529
Jamaica                            487
Guatemala                          456
Vietnam                            446
Japan                              410
Portugal                           394
Ecuador                            386
Greece                             377
Haiti                              335
Nicaragua                          321
Peru                               321
Hungary                            315
Scotland                           257
Yugoslavia                         232
Iran                               227
Cambodia                           212
Honduras                           210
France                             193
Taiwan                             190
Laos                               163
Outlying-U S (Guam USVI etc)       155
Trinadad&Tobago                    131
Hong Kong                          115
Thailand                           103
Holand-Netherlands                  48
Panama                              26
Name: country_father, dtype: int64
United-States                   166992
Mexico                            9725
Puerto-Rico                       2431
Italy                             1834
Canada                            1450
Germany                           1386
Philippines                       1272
Poland                            1136
Cuba                              1129
Dominican-Republic                1091
El-Salvador                       1050
England                            901
China                              756
Ireland                            627
South Korea                        621
Columbia                           598
India                              597
Japan                              498
Jamaica                            488
Vietnam                            465
Guatemala                          449
Ecuador                            391
Peru                               353
Portugal                           347
Haiti                              334
Nicaragua                          317
Hungary                            296
Greece                             286
Scotland                           245
Honduras                           229
Taiwan                             219
France                             199
Iran                               197
Yugoslavia                         190
Cambodia                           174
Laos                               156
Outlying-U S (Guam USVI etc)       154
Thailand                           122
Hong Kong                          113
Trinadad&Tobago                    109
Holand-Netherlands                  44
Panama                              29
Name: country_mother, dtype: int64
United-States                   180869
Mexico                            5706
Puerto-Rico                       1391
Philippines                        889
Germany                            858
Cuba                               828
Canada                             714
Dominican-Republic                 674
El-Salvador                        673
South Korea                        482
China                              472
England                            456
Italy                              436
Columbia                           430
India                              426
Vietnam                            378
Poland                             368
Japan                              348
Jamaica                            345
Guatemala                          328
Ecuador                            264
Peru                               254
Nicaragua                          222
Haiti                              217
Taiwan                             194
Portugal                           175
Honduras                           159
Iran                               158
Greece                             149
Ireland                            130
Outlying-U S (Guam USVI etc)       115
France                             115
Hong Kong                          111
Thailand                           110
Laos                               104
Cambodia                           103
Yugoslavia                          77
Trinadad&Tobago                     77
Scotland                            75
Hungary                             68
Panama                              27
Holand-Netherlands                  25
Name: country_self, dtype: int64
Native- Born in the United States              177378
Foreign born- Not a citizen of U S              13316
Foreign born- U S citizen by naturalization      5988
Native- Born abroad of American Parent(s)        1812
Native- Born in Puerto Rico or U S Outlying      1506
Name: citizenship, dtype: int64
0    180796
2     16395
1      2809
Name: business_or_self_employed, dtype: int64
2    151254
0     46682
1      2064
Name: veterans_benefits, dtype: int64
0     94816
52    71707
40     2736
50     2363
26     2226
48     1929
12     1778
30     1417
20     1363
8      1123
36     1106
16      920
32      878
44      872
51      842
24      785
4       756
35      704
10      697
46      688
45      656
6       642
42      596
39      581
28      559
49      555
13      517
25      470
1       458
2       446
3       430
38      385
22      380
15      372
43      359
17      335
18      281
5       278
47      277
14      272
9       238
34      235
7       138
37      134
21      131
41       89
27       83
33       79
11       73
23       73
29       64
31       58
19       50
Name: weeks_worked_in_year, dtype: int64
Not in universe    197936
No                   1671
Yes                   393
Name: fill_questionnaire_veteran_admin, dtype: int64
94    100040
95     99960
Name: year, dtype: int64

In [30]:
cat_col

['class_of_worker',
 'industry_code',
 'occupation_code',
 'education',
 'enrolled_in_edu_inst_lastwk',
 'marital_status',
 'major_industry_code',
 'major_occupation_code',
 'race',
 'hispanic_origin',
 'sex',
 'member_of_labor_union',
 'reason_for_unemployment',
 'full_parttime_employment_stat',
 'tax_filer_status',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'd_household_family_stat',
 'd_household_summary',
 'live_1_year_ago',
 'num_person_Worked_employer',
 'family_members_under_18',
 'country_father',
 'country_mother',
 'country_self',
 'citizenship',
 'business_or_self_employed',
 'veterans_benefits',
 'weeks_worked_in_year',
 'fill_questionnaire_veteran_admin',
 'year',
 'income_level']

In [31]:
num_col = []
for i in census_data.columns:
    if i in cat_col:
        pass
    else:
        num_col.append(i)

In [32]:
num_col

['age',
 'wage_per_hour',
 'capital_gains',
 'capital_losses',
 'dividend_from_Stocks']

In [33]:
len(cat_col)

32

In [35]:
census_data.shape

(200000, 37)

In [36]:
census_data.columns

Index(['age', 'class_of_worker', 'industry_code', 'occupation_code',
       'education', 'wage_per_hour', 'enrolled_in_edu_inst_lastwk',
       'marital_status', 'major_industry_code', 'major_occupation_code',
       'race', 'hispanic_origin', 'sex', 'member_of_labor_union',
       'reason_for_unemployment', 'full_parttime_employment_stat',
       'capital_gains', 'capital_losses', 'dividend_from_Stocks',
       'tax_filer_status', 'region_of_previous_residence',
       'state_of_previous_residence', 'd_household_family_stat',
       'd_household_summary', 'live_1_year_ago', 'num_person_Worked_employer',
       'family_members_under_18', 'country_father', 'country_mother',
       'country_self', 'citizenship', 'business_or_self_employed',
       'fill_questionnaire_veteran_admin', 'veterans_benefits',
       'weeks_worked_in_year', 'year', 'income_level'],
      dtype='object')

In [38]:
census_eval['d_household_family_stat'].nunique()

35

In [39]:
census_data['d_household_family_stat'].value_counts()

Householder                                        54582
Child <18 never marr not in subfamily              49592
Spouse of householder                              41574
Nonfamily householder                              22393
Child 18+ never marr Not in a subfamily            12052
Secondary individual                                6129
Other Rel 18+ ever marr not in subfamily            1957
Grandchild <18 never marr child of subfamily RP     1773
Other Rel 18+ never marr not in subfamily           1691
Grandchild <18 never marr not in subfamily          1024
Child 18+ ever marr Not in a subfamily               994
Child under 18 of RP of unrel subfamily              726
Child 18+ ever marr RP of subfamily                  684
RP of unrelated subfamily                            676
Other Rel 18+ spouse of subfamily RP                 648
Other Rel <18 never marr child of subfamily RP       639
Other Rel 18+ ever marr RP of subfamily              624
Other Rel <18 never marr not in subfamily            606
Child 18+ never marr RP of subfamily                 572
Grandchild 18+ never marr not in subfamily           385
In group quarters                                    186
Child 18+ spouse of subfamily RP                     141
Other Rel 18+ never marr RP of subfamily             102
Child <18 never marr RP of subfamily                  81
Spouse of RP of unrelated subfamily                   50
Grandchild 18+ ever marr not in subfamily             32
Child <18 ever marr not in subfamily                  30
Grandchild 18+ spouse of subfamily RP                 12
Child <18 ever marr RP of subfamily                   12
Grandchild 18+ ever marr RP of subfamily              12
Other Rel <18 ever marr RP of subfamily                7
Other Rel <18 spouse of subfamily RP                   5
Grandchild <18 never marr RP of subfamily              3
Other Rel <18 never married RP of subfamily            3
Other Rel <18 ever marr not in subfamily               3
Name: d_household_family_stat, dtype: int64

# Model Evaluation for Trained census data

In [40]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
X_1 = census_data.iloc[:,0:-1]

In [41]:
names = num_col
# Create the Scaler object
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(X_1[names])
scaled_data = pd.DataFrame(scaled_df, columns=names)

Coudn't find much correlation, Hence, PCA Optional for this dataset

In [1]:
#from sklearn.decomposition import PCA
#pca = PCA(n_components=2)
#principalComponents = pca.fit_transform(scaled_data)
#principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2'])

In [2]:
num_col

NameError: name 'num_col' is not defined

In [3]:
cat_col_df = census_data[cat_col] #spare for census_data for one hot encoding

NameError: name 'census_data' is not defined

In [4]:
cat_col_df.shape

NameError: name 'cat_col_df' is not defined

In [46]:
cat_col_df.columns

Index(['class_of_worker', 'industry_code', 'occupation_code', 'education',
       'enrolled_in_edu_inst_lastwk', 'marital_status', 'major_industry_code',
       'major_occupation_code', 'race', 'hispanic_origin', 'sex',
       'member_of_labor_union', 'reason_for_unemployment',
       'full_parttime_employment_stat', 'tax_filer_status',
       'region_of_previous_residence', 'state_of_previous_residence',
       'd_household_family_stat', 'd_household_summary', 'live_1_year_ago',
       'num_person_Worked_employer', 'family_members_under_18',
       'country_father', 'country_mother', 'country_self', 'citizenship',
       'business_or_self_employed', 'veterans_benefits',
       'weeks_worked_in_year', 'fill_questionnaire_veteran_admin', 'year',
       'income_level'],
      dtype='object')

In [47]:
cat_col_df_2 = cat_col_df[:] #spare for cat_col_df

In [50]:
cat_col_df_2 = pd.concat([cat_col_df_2, scaled_data], axis=1)

In [51]:
cat_col_df_2.shape

(200000, 37)

In [52]:
cat_col_df_2.head()

,class_of_worker,industry_code,occupation_code,education,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,race,hispanic_origin,sex,member_of_labor_union,reason_for_unemployment,full_parttime_employment_stat,tax_filer_status,region_of_previous_residence,state_of_previous_residence,d_household_family_stat,d_household_summary,live_1_year_ago,num_person_Worked_employer,family_members_under_18,country_father,country_mother,country_self,citizenship,business_or_self_employed,veterans_benefits,weeks_worked_in_year,fill_questionnaire_veteran_admin,year,income_level,age,wage_per_hour,capital_gains,capital_losses,dividend_from_Stocks
0,Private,43,22,Some college but no degree,College or university,Never married,Education,Adm support including clerical,White,All other,Male,Not in universe,Not in universe,Full-time schedules,Single,Not in universe,Not in universe,Child 18+ never marr Not in a subfamily,Child 18 or older,Not in universe under 1 year old,4,Not in universe,Peru,Peru,United-States,Native- Born in the United States,0,2,30,Not in universe,95,0,-0.524730,-0.201577,-0.09659,-0.140071,-0.103258
1,Private,34,2,Bachelors degree(BA AB BS),Not in universe,Never married,Finance insurance and real estate,Executive admin and managerial,White,All other,Male,No,Not in universe,Children or Armed Forces,Single,West,California,Nonfamily householder,Householder,No,4,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,26,Not in universe,94,0,-0.479737,-0.201577,-0.09659,-0.140071,-0.103258
2,Private,34,2,Masters degree(MA MS MEng MEd MSW MBA),Not in universe,Married-civilian spouse present,Finance insurance and real estate,Executive admin and managerial,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,Joint both under 65,Not in universe,Not in universe,Householder,Householder,Yes,4,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,52,Not in universe,94,1,0.150164,-0.201577,-0.09659,-0.140071,0.017949
3,Not in universe,0,0,High school graduate,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,Joint both under 65,Not in universe,Not in universe,Child 18+ ever marr RP of subfamily,Child 18 or older,Not in universe under 1 year old,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,0,Not in universe,95,0,-0.074801,-0.201577,-0.09659,-0.140071,-0.103258
4,Not in universe,0,0,Children,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,Not in universe under 1 year old,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,0,0,Not in universe,95,0,-0.974659,-0.201577,-0.09659,-0.140071,-0.103258

In [53]:
len(cat_col_df_2.columns)

37

In [54]:
cat_col_df_2.columns

Index(['class_of_worker', 'industry_code', 'occupation_code', 'education',
       'enrolled_in_edu_inst_lastwk', 'marital_status', 'major_industry_code',
       'major_occupation_code', 'race', 'hispanic_origin', 'sex',
       'member_of_labor_union', 'reason_for_unemployment',
       'full_parttime_employment_stat', 'tax_filer_status',
       'region_of_previous_residence', 'state_of_previous_residence',
       'd_household_family_stat', 'd_household_summary', 'live_1_year_ago',
       'num_person_Worked_employer', 'family_members_under_18',
       'country_father', 'country_mother', 'country_self', 'citizenship',
       'business_or_self_employed', 'veterans_benefits',
       'weeks_worked_in_year', 'fill_questionnaire_veteran_admin', 'year',
       'income_level', 'age', 'wage_per_hour', 'capital_gains',
       'capital_losses', 'dividend_from_Stocks'],
      dtype='object')

In [55]:
cat_col

['class_of_worker',
 'industry_code',
 'occupation_code',
 'education',
 'enrolled_in_edu_inst_lastwk',
 'marital_status',
 'major_industry_code',
 'major_occupation_code',
 'race',
 'hispanic_origin',
 'sex',
 'member_of_labor_union',
 'reason_for_unemployment',
 'full_parttime_employment_stat',
 'tax_filer_status',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'd_household_family_stat',
 'd_household_summary',
 'live_1_year_ago',
 'num_person_Worked_employer',
 'family_members_under_18',
 'country_father',
 'country_mother',
 'country_self',
 'citizenship',
 'business_or_self_employed',
 'veterans_benefits',
 'weeks_worked_in_year',
 'fill_questionnaire_veteran_admin',
 'year',
 'income_level']

In [56]:
df_data = pd.DataFrame()
for i in cat_col[:-1]:
  a = pd.get_dummies(cat_col_df_2[i], prefix= i[:6])
  #cat_col_df_2.drop(labels = [i], inplace = True)
  df_data = pd.concat([df_data, a], axis=1)

In [57]:
df_data.shape

(200000, 522)

In [58]:
cat_col_df_2.drop(labels = cat_col[:-1], inplace = True, axis = 1)

In [59]:
cat_col_df_2.shape

(200000, 6)

# Applying model for trained-test census_data

In [60]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [61]:
X = cat_col_df_2.iloc[:,1:]
y = cat_col_df_2.iloc[:,0]

In [62]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

In [63]:
classifier = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=3),
    n_estimators=200
)
classifier.fit(train_X, train_y)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=3,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort='deprecated',
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=200, random_state=None)

In [64]:
predictions = classifier.predict(test_X)

In [65]:
confusion_matrix(test_y, predictions)

array([[45883,   353],
       [ 2737,  1027]], dtype=int64)

In [66]:
from sklearn.metrics import f1_score

y_true = test_y
y_pred = predictions


f1_score(y_true, y_pred, average='weighted')

0.9246559202450244

# Model Evaluation for Evaluation census data - census_eval

In [67]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
X_1_eval = census_eval.iloc[:,:]

In [68]:
X_1_eval.shape

(50000, 36)

In [69]:
num_col

['age',
 'wage_per_hour',
 'capital_gains',
 'capital_losses',
 'dividend_from_Stocks']

In [70]:
names_eval = num_col
# Create the Scaler object
scaler_eval = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df_eval = scaler_eval.fit_transform(X_1_eval[names_eval])
scaled_data_eval = pd.DataFrame(scaled_df, columns=names_eval)

In [71]:
scaled_data_eval.shape

(200000, 5)

In [72]:
cat_col

['class_of_worker',
 'industry_code',
 'occupation_code',
 'education',
 'enrolled_in_edu_inst_lastwk',
 'marital_status',
 'major_industry_code',
 'major_occupation_code',
 'race',
 'hispanic_origin',
 'sex',
 'member_of_labor_union',
 'reason_for_unemployment',
 'full_parttime_employment_stat',
 'tax_filer_status',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'd_household_family_stat',
 'd_household_summary',
 'live_1_year_ago',
 'num_person_Worked_employer',
 'family_members_under_18',
 'country_father',
 'country_mother',
 'country_self',
 'citizenship',
 'business_or_self_employed',
 'veterans_benefits',
 'weeks_worked_in_year',
 'fill_questionnaire_veteran_admin',
 'year',
 'income_level']

In [73]:
cat_col_df_eval = census_eval[cat_col[:-1]] #spare for census_data for one hot encoding

In [74]:
cat_col_df_eval.shape

(50000, 31)

In [75]:
cat_col_df_eval.head()

,class_of_worker,industry_code,occupation_code,education,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,race,hispanic_origin,sex,member_of_labor_union,reason_for_unemployment,full_parttime_employment_stat,tax_filer_status,region_of_previous_residence,state_of_previous_residence,d_household_family_stat,d_household_summary,live_1_year_ago,num_person_Worked_employer,family_members_under_18,country_father,country_mother,country_self,citizenship,business_or_self_employed,veterans_benefits,weeks_worked_in_year,fill_questionnaire_veteran_admin,year
0,Not in universe,0,0,12th grade no diploma,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,Joint one under 65 & one 65+,Not in universe,Not in universe,Householder,Householder,Yes,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,0,Not in universe,94
1,Not in universe,0,0,Bachelors degree(BA AB BS),Not in universe,Divorced,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,Nonfiler,Not in universe,Not in universe,Nonfamily householder,Householder,Not in universe under 1 year old,0,Not in universe,France,United-States,United-States,Native- Born in the United States,0,2,0,Not in universe,95
2,Not in universe,0,0,High school graduate,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,White,Puerto Rican,Female,Not in universe,Not in universe,Children or Armed Forces,Joint both under 65,Not in universe,Not in universe,Householder,Householder,Yes,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,0,Not in universe,94
3,Self-employed-incorporated,2,43,Bachelors degree(BA AB BS),Not in universe,Married-civilian spouse present,Agriculture,Farming forestry and fishing,White,All other,Female,Not in universe,Not in universe,PT for non-econ reasons usually FT,Joint both under 65,Not in universe,Not in universe,Spouse of householder,Spouse of householder,Not in universe under 1 year old,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,52,Not in universe,95
4,Private,33,26,Some college but no degree,Not in universe,Married-civilian spouse present,Retail trade,Adm support including clerical,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,Joint both under 65,South,Louisiana,Spouse of householder,Spouse of householder,No,3,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,2,52,Not in universe,94

In [76]:
cat_col_df_eval_2 = cat_col_df_eval[:] #spare for cat_col_df

In [77]:
cat_col_df_eval_2.shape

(50000, 31)

In [78]:
cat_col_df_eval_2 = pd.concat([cat_col_df_eval_2, scaled_data_eval], axis=1)

In [79]:
cat_col_df_eval_2.shape

(200000, 36)

In [80]:
cat_col_df_eval_2.columns

Index(['class_of_worker', 'industry_code', 'occupation_code', 'education',
       'enrolled_in_edu_inst_lastwk', 'marital_status', 'major_industry_code',
       'major_occupation_code', 'race', 'hispanic_origin', 'sex',
       'member_of_labor_union', 'reason_for_unemployment',
       'full_parttime_employment_stat', 'tax_filer_status',
       'region_of_previous_residence', 'state_of_previous_residence',
       'd_household_family_stat', 'd_household_summary', 'live_1_year_ago',
       'num_person_Worked_employer', 'family_members_under_18',
       'country_father', 'country_mother', 'country_self', 'citizenship',
       'business_or_self_employed', 'veterans_benefits',
       'weeks_worked_in_year', 'fill_questionnaire_veteran_admin', 'year',
       'age', 'wage_per_hour', 'capital_gains', 'capital_losses',
       'dividend_from_Stocks'],
      dtype='object')

In [82]:
df_data_eval = pd.DataFrame()
for i in cat_col[:-1]:
  a_eval = pd.get_dummies(cat_col_df_eval_2[i], prefix= i[:6])
  df_data_eval = pd.concat([df_data_eval, a_eval], axis=1)

In [83]:
df_data_eval.shape

(200000, 522)

In [84]:
cat_col_df_eval_2.shape

(200000, 36)

In [85]:
cat_col_df_eval_2.drop(labels = cat_col[:-1], inplace = True, axis = 1)

In [86]:
cat_col_df_eval_2.shape

(200000, 5)

In [87]:
cat_col_df_2.shape

(200000, 6)

In [88]:
cat_col_df_eval_2.head()

,age,wage_per_hour,capital_gains,capital_losses,dividend_from_Stocks
0,-0.524730,-0.201577,-0.09659,-0.140071,-0.103258
1,-0.479737,-0.201577,-0.09659,-0.140071,-0.103258
2,0.150164,-0.201577,-0.09659,-0.140071,0.017949
3,-0.074801,-0.201577,-0.09659,-0.140071,-0.103258
4,-0.974659,-0.201577,-0.09659,-0.140071,-0.103258

# Applying Model for Evaluation census data - census_eval

In [89]:
from sklearn.ensemble import AdaBoostClassifier
#from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [90]:
cat_col_df_2.shape

(200000, 6)

In [91]:
cat_col_df_eval_2.shape

(200000, 5)

In [92]:
X = cat_col_df_2.iloc[:,1:]
y = cat_col_df_2.iloc[:,0]

In [93]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

In [94]:
classifier = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=3),
    n_estimators=200
)
classifier.fit(train_X, train_y)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=3,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort='deprecated',
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=200, random_state=None)

In [95]:
#dt = DecisionTreeClassifier()
#dt.fit(train_X, train_y)

In [96]:
predictions = classifier.predict(test_X)
#predictions = dt.predict(test_X)

In [97]:
confusion_matrix(test_y, predictions)

#species = np.array(test_y)
#predictions = np.array(predictions)
#confusion_matrix(species, predictions)

array([[45883,   353],
       [ 2737,  1027]], dtype=int64)

In [98]:
from sklearn.metrics import f1_score

y_true = test_y
y_pred = predictions


f1_score(y_true, y_pred, average='weighted')

0.9246559202450244

In [99]:
predictions_2 = classifier.predict(cat_col_df_eval_2)
#predictions_2 = dt.predict(cat_col_df_eval_2)

In [100]:
predictions_2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [102]:
res = pd.DataFrame(predictions_2) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
#res.index = test_new.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("prediction_results_HP.csv")

In [ ]:
res = pd.DataFrame(predictions) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
#res.index = test_new.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]